*{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: repeat(3, auto);
    gap: 1px;

}
.container header{
    background-color: aqua;
    height: 350px;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 4;
}
.container main{
    background-color: bisque;
    height: 680px;
}
  